<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

<div class="container text-center">
<h1 class="alert alert-warning col-8 mx-auto">About this app:</h1>
</div>

<div class="row text-center">
<h2>This App will help you Generate Random Passwords</h2>
</div>
<div class="row text-center">
<h3>On Home Page:</h3>
<h4>You can choose from a range of <strong>6</strong> to <strong>14</strong> characters long password, default is <strong>12</strong></h4>
<h4>Select none, one, two or all three checkboxes, then click 'Generate Password'</h4>

</div>
<br><br>
<div class="container text-center">
<a href="{% url 'home' %}" class="btn btn-outline-warning">Home</a>
</div>